<launch>

   <!-- load Parameters -->
   <rosparam file="$(find parse_rosbag)/config/configFile.yaml" command="load" />
   
    <!-- generate point cloud from RGB image of multi cameras -->
    <node name="parse_rosbag" pkg="parse_rosbag" type="parse_rosbag_ODOAVP" output="screen" required="true">
    </node>


</launch>
